<div class="authentication">
  <div class="authentication-container">
    <div class="card">
      <header class="authentication-header">
        <h1 class="authentication-title">
          <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l 15"></span>
          </div>
          Send Notification
        </h1>
      </header>
      <div class="authentication-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
